@CHARSET "UTF-8";

/*set the active tab marker according to the the current theme color set*/
.is-active {
	border-bottom: 3px solid #FFAB40;
}

/*Because of this https://github.com/google/material-design-lite/issues/1676
we are dropping the mdl-layout__header for a less fancy implementation but
at least the header renders nicely across browsers*/
.mdl-layout__simplified-header {
	background-color: rgb(96, 125, 139);
	color: #FFFFFF;
}

.gwt-mdl-buttons-row {
	margin: 30px 0;
}

.gwt-mdl-button-container {
	display: inline-block;
	margin: 0 30px;
}

.gwt-mdl-button-caption {
	margin-top: 10px;
}