@CHARSET "UTF-8";

/*applying a theme to the header*/
.demo-simplified-header {
	background-color: #F44336;
	color: #FFFFFF;
}

/*applying a theme to the tab active state*/
.demo-header-tab-option.demo-is-active {
	border-bottom: 3px solid #FFFFFF;
}