/*Make roboto the default font for the demo*/
.demo-global {
	font-family: "roboto", "Helvetica", "Arial", sans-serif;
}

/*the main section of the page*/
.demo-main {
	display: -ms-flex;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
}

/*the navigation panel under the main area*/
.demo-main .nav {
	width: 150px;
	padding: 50px 20px;
	display: none;
}

/*the content under the main area*/
/*make the content area as wide as possible */
.demo-main .page {
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 32px;
	margin-bottom: 50px;
	width: 100%;
}

/*limit the width of the content for better readability*/
.demo-main .page .content {
	max-width: 840px;
}

/*leave a space before every title*/
.demo-title {
	padding-top: 30px;
}

/*default color for paragraphs and titles*/
.demo-title, .demo-text {
	color: hsl(0, 0%, 46%);
}

/*make backgrounds grey*/
pre.prettyprint, .demo-main .nav {
	background-color: hsl(0, 0%, 90%);
}

/*remove the black thin border*/
pre.prettyprint.demo-code {
	border: none;
	font-size: 12px;
	border-radius: 3px;
	padding: 10px 15px;
}