/*the button container holds the button and its caption*/

.demo-button-container {
	display: inline-block;
	margin: 0 30px;
}

/*the caption contains the button variation name*/

.demo-button-caption {
	margin-top: 10px;
}