<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Menus</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet"
	href="https://code.getmdl.io/1.1.1/material.blue_grey-red.min.css" />

<link rel="stylesheet"
	href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
	type="text/css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" type="text/css" href="../../index.css">
<link rel="stylesheet" type="text/css" href="../components.css">
<link rel="stylesheet" type="text/css" href="menus.css">

<script
	src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

<script
	src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>

<script src="../../mdlgwtdemo/mdlgwtdemo.nocache.js"></script>

<script type="text/javascript">
	var createItem = function(text) {
		var anLi = document.createElement('li');
		anLi.innerHTML = text;
		anLi.classList.add("mdl-menu__item");
		return anLi;
	}

	var expand = function(menu, item) {

		var matMenu = menu.MaterialMenu;

		// Add a listener to each menu item.
		item.addEventListener('click', matMenu.boundItemClick_);
		// Add a tab index to each menu item.
		item.tabIndex = '-1';
		// Add a keyboard listener to each menu item.
		item.addEventListener('keydown', matMenu.boundItemKeydown_);

		// Add ripple classes to each item, if the user has enabled ripples.
		if (menu.classList.contains(matMenu.CssClasses_.RIPPLE_EFFECT)) {

			var rippleContainer = document.createElement('span');
			rippleContainer.classList
					.add(matMenu.CssClasses_.ITEM_RIPPLE_CONTAINER);

			var ripple = document.createElement('span');
			ripple.classList.add(matMenu.CssClasses_.RIPPLE);
			rippleContainer.appendChild(ripple);
			item.appendChild(rippleContainer);

			item.classList.add(matMenu.CssClasses_.RIPPLE_EFFECT);
		}
	}

	var itemsCount = 0;

	var onAddItemClick = function() {

		var menu = document.getElementById("ul_menu");
		var text = "Another Action " + itemsCount;
		itemsCount++;

		var anLi = createItem(text);
		expand(menu, anLi);
		menu.appendChild(anLi);
		componentHandler.upgradeElement(anLi);
	}

	var destroy = function(menu, item) {

		var matMenu = menu.MaterialMenu;

		// remove the listener from the item.
		item.removeEventListener('click', matMenu.boundItemClick_);
		// Add a keyboard listener to each menu item.
		item.removeEventListener('keydown', matMenu.boundItemKeydown_);

		componentHandler.downgradeElements([ item ]);

		menu.removeChild(item);
	}

	var onRemoveItemClick = function() {

		var menu = document.getElementById("remove_menu");

		var action = document.getElementById("remove_action");

		var children = menu.childNodes;
		var length = children.length;
		var child;
		var childrenElts = [];

		for (var i = 0; i < length; i++) {
			child = children[i];
			if (child.nodeType === Node.ELEMENT_NODE) {
				childrenElts.push(child);
			}
		}

		destroy(menu, childrenElts[0]);

		if (childrenElts.length == 1) {
			action.disabled = true;
		}
	}
</script>
</head>
<body class="demo-global">
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<header class="demo-simplified-header">

			<!-- On the first row, put the demo title  -->
			<div class="mdl-layout__header-row">

				<!-- Title -->
				<span class="mdl-layout-title">Material Design Lite for GWT</span>
			</div>

			<!-- On the second row put the tabs and external links -->
			<div id="header-link-row" class="mdl-layout__header-row">
				<!-- Put a spacer to push the external links to the right -->
				<div class="mdl-layout-spacer"></div>

				<!-- A link to the javadoc -->
				<a href="../../apidocs" class="demo-header-link"><span
					class="icon material-icons">assignment</span><span class="text">Javadoc</span></a>

				<!-- A link to the source code -->
				<a href="https://github.com/ilyes4j/material-design-lite-gwt"
					class="demo-header-link"><span class="icon material-icons">code</span><span
					class="text">GitHub</span></a>
			</div>
		</header>
		<div class="mdl-layout__content">
			<div id="demo-main" class="demo-main">
				<div class="page" align="center">
					<div class="content" align="left">
						<h4 class="demo-title">Menus</h4>

						<span class="demo-text">Lists of clickable actions.</span>

						<h5 class="demo-title">Menu anchor</h5>

						<div align="center">
							<div align="center" style="display: inline-block">
								<div class="demo-menu-container mdl-shadow--2dp" align="left">
									<div class="bar" id="ctnr_01"></div>
									<div class="background"></div>
								</div>
								<div class="demo-button-caption demo-text">Lower left</div>
							</div>
							<div align="center" style="display: inline-block">
								<div class="demo-menu-container mdl-shadow--2dp" align="right">
									<div class="bar" id="ctnr_02"></div>
									<div class="background"></div>
								</div>
								<div class="demo-button-caption demo-text">Lower right</div>
							</div>
						</div>

						<div align="center">
							<div align="center" style="display: inline-block">
								<div class="demo-menu-container mdl-shadow--2dp" align="left">
									<div class="background"></div>
									<div class="bar" id="ctnr_03"></div>
								</div>
								<div class="demo-button-caption demo-text">Upper left</div>
							</div>
							<div align="center" style="display: inline-block">
								<div class="demo-menu-container mdl-shadow--2dp" align="right">
									<div class="background"></div>
									<div class="bar" id="ctnr_04"></div>
								</div>
								<div class="demo-button-caption demo-text">Upper right</div>
							</div>
						</div>

						<pre class="demo-code prettyprint lang-java">{% include "../../../java/com/github/ilyes4j/gwt/mdl/demo/modules/menus/AnchorDemo.java" %}</pre>

						<h5 class="demo-title">Menu click event</h5>

						<div id="eventContainer"></div>

						<pre class="demo-code prettyprint lang-java">{% include "../../../java/com/github/ilyes4j/gwt/mdl/demo/modules/menus/ClickEventMenuDemo.java" %}</pre>

						<pre class="demo-code prettyprint lang-java">{% include "../../../java/com/github/ilyes4j/gwt/mdl/demo/modules/menus/ClickEventHelper.java" %}</pre>

						<h5 class="demo-title">Menu scroll</h5>

						<div id="scrollContainer"></div>

						<pre class="demo-code prettyprint lang-java">{% include "../../../java/com/github/ilyes4j/gwt/mdl/demo/modules/menus/ScrollDemo.java" %}</pre>

						<h5 class="demo-title">Toggle enabled</h5>

						<div id="toggleContainer"></div>

						<pre class="demo-code prettyprint lang-java">{% include "../../../java/com/github/ilyes4j/gwt/mdl/demo/modules/menus/ToggleEnabledDemo.java" %}</pre>

						<h5 class="demo-title">Adding and removing Items</h5>

						<div id="addRemoveItemContainer"></div>

						<pre class="demo-code prettyprint lang-java">{% include "../../../java/com/github/ilyes4j/gwt/mdl/demo/modules/menus/ItemsMenuDemo.java" %}</pre>

						<pre class="demo-code prettyprint lang-java">{% include "../../../java/com/github/ilyes4j/gwt/mdl/demo/modules/menus/ItemsHelper.java" %}</pre>

						<h5 class="demo-title">Clear menu</h5>

						<div id="clearContainer"></div>

						<pre class="demo-code prettyprint lang-java">{% include "../../../java/com/github/ilyes4j/gwt/mdl/demo/modules/menus/ClearMenuDemo.java" %}</pre>

						<pre class="demo-code prettyprint lang-java">{% include "../../../java/com/github/ilyes4j/gwt/mdl/demo/modules/menus/ClearHelper.java" %}</pre>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
