@CHARSET "UTF-8";

/*set the active tab marker according to the the current theme color set.
demo-header-tab-option is added in this selector to insure it has more condition
than demo-header-tab-option alone. This provide the selector below with a higher
priority over demo-header-tab-option*/
.demo-header-tab-option.demo-is-active {
	border-bottom: 3px solid rgb(255, 171, 64);
}

.demo-simplified-header {
	background-color: rgb(63, 81, 181);
	color: #FFFFFF;
}

/*The anchoring demo panel*/
.demo-menu-container {
	position: relative;
	width: 200px;
	margin: 15px;
}

/*The content of the anchor panel*/
.demo-menu-container .background {
	background: white;
	height: 100px;
	width: 100%;
}

/*The menu bar of the anchor panel*/
.demo-menu-container .bar {
	box-sizing: border-box;
	background: #3F51B5;
	color: white;
	width: 100%;
	padding: 16px;
}