<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Components</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet"
	href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.blue_grey-orange.min.css">

<link rel="stylesheet"
	href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
	type="text/css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" type="text/css" href="../styles/main.css">
<link rel="stylesheet" type="text/css" href="styles/components.css">

<script
	src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

<script
	src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>

<!-- GWT module containing the buttons-->
<script src="../buttondemo/buttondemo.nocache.js"></script>

<script src="../jquery/jquery-2.2.0.min.js"></script>

<!-- contains the header injection procedure-->
<script src="../scripts/main.js"></script>
</head>
<body class="demo-global">
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<!--here is injected the header component-->
		<div id="/material-design-lite-gwt/header.html" class="inject"></div>
		<div class="mdl-layout__content">
			<div class="demo-main">
				<aside class="nav mdl-shadow--8dp"></aside>
				<div id="buttonsContainer" class="page" align="center">
					<div class="content" align="left">
						<h4 class="demo-title">Buttons</h4>

						<span class="demo-text">Variations on Material Design
							buttons.</span>

						<h5 class="demo-title">Colored fab</h5>

						<div align="center">
							<div class="demo-button-container">
								<div id="ctnr_01"></div>
								<div class="demo-button-caption demo-text">Colored FAB</div>
							</div>
							<div class="demo-button-container" align="center">
								<div id="ctnr_02"></div>
								<div class="demo-button-caption demo-text">With ripple</div>
							</div>
						</div>

						<pre class="demo-code prettyprint lang-java">
//adding the required import at the class header
import static org.zerowarning.gwt.mdl.components.buttons.Button.createFab;
import static org.zerowarning.gwt.mdl.components.buttons.ButtonFabColor.COLORED;
import static org.zerowarning.gwt.mdl.components.ripples.Ripple.NONE;
import static org.zerowarning.gwt.mdl.components.ripples.Ripple.HAS_RIPPLE;

import org.zerowarning.gwt.mdl.components.buttons.Button;

//then when needed, create the buttons

//colored fab button with an add icon
Button fab = createFab(COLORED, NONE, "add");

//colored fab button with an add icon and a ripple
Button rpl = createFab(COLORED, HAS_RIPPLE, "add");

//then use the created buttons</pre>

						<h5 class="demo-title">Plain fab</h5>

						<div align="center">
							<div class="demo-button-container">
								<div id="ctnr_03"></div>
								<div class="demo-button-caption demo-text">Plain FAB</div>
							</div>
							<div class="demo-button-container">
								<div id="ctnr_04"></div>
								<div class="demo-button-caption demo-text">With ripple</div>
							</div>
							<div class="demo-button-container">
								<div id="ctnr_05"></div>
								<div class="demo-button-caption demo-text">Disabled</div>
							</div>
						</div>

						<pre class="demo-code prettyprint lang-java">
import static org.zerowarning.gwt.mdl.components.buttons.Button.createFab;
import static org.zerowarning.gwt.mdl.components.buttons.ButtonFabColor.FAB_NO_COLOR;
import static org.zerowarning.gwt.mdl.components.ripples.Ripple.NONE;
import static org.zerowarning.gwt.mdl.components.ripples.Ripple.HAS_RIPPLE;

import org.zerowarning.gwt.mdl.components.buttons.Button;

//Plain fab button with an add icon
Button pln = createFab(FAB_NO_COLOR, NONE, "add");

//Plain fab button with an add icon and a ripple
Button rpl = createFab(FAB_NO_COLOR, HAS_RIPPLE, "add");

//Disabled fab button with an add icon
Button dbl = createFab(FAB_NO_COLOR, NONE, "add");
dbl.setEnabled(false);</pre>

						<h5 class="demo-title">Raised</h5>

						<div align="center">
							<div class="demo-button-container">
								<div id="ctnr_06"></div>
								<div class="demo-button-caption demo-text">Raised Button</div>
							</div>
							<div class="demo-button-container">
								<div id="ctnr_07"></div>
								<div class="demo-button-caption demo-text">With ripple</div>
							</div>
							<div class="demo-button-container">
								<div id="ctnr_08"></div>
								<div class="demo-button-caption demo-text">Disabled</div>
							</div>
						</div>

						<pre class="demo-code prettyprint lang-java">
import static org.zerowarning.gwt.mdl.components.buttons.Button.createRaised;
import static org.zerowarning.gwt.mdl.components.buttons.ButtonColor.BTN_NO_COLOR;
import static org.zerowarning.gwt.mdl.components.ripples.Ripple.NONE;
import static org.zerowarning.gwt.mdl.components.ripples.Ripple.HAS_RIPPLE;

import org.zerowarning.gwt.mdl.components.buttons.Button;

//Plain raised button
Button rsd = createRaised(BTN_NO_COLOR, NONE, "Button");

//Plain raised button with a ripple
Button rpl = createRaised(BTN_NO_COLOR, HAS_RIPPLE, "Button");

//Disabled raised button
Button dbl = createRaised(BTN_NO_COLOR, NONE, "Button");
dbl.setEnabled(false);</pre>

						<h5 class="demo-title">Raised Colored</h5>

						<div align="center">
							<div class="demo-button-container">
								<div id="ctnr_09"></div>
								<div class="demo-button-caption demo-text">Colored button</div>
							</div>
							<div class="demo-button-container">
								<div id="ctnr_10"></div>
								<div class="demo-button-caption demo-text">Accent colored</div>
							</div>
							<div class="demo-button-container">
								<div id="ctnr_11"></div>
								<div class="demo-button-caption demo-text">With ripple</div>
							</div>
						</div>

						<pre class="demo-code prettyprint lang-java">
import static org.zerowarning.gwt.mdl.components.buttons.Button.createRaised;
import static org.zerowarning.gwt.mdl.components.buttons.ButtonColor.PRIMARY;
import static org.zerowarning.gwt.mdl.components.ripples.Ripple.NONE;
import static org.zerowarning.gwt.mdl.components.ripples.Ripple.HAS_RIPPLE;

import org.zerowarning.gwt.mdl.components.buttons.Button;

//create a colored button
Button clr = createRaised(PRIMARY, NONE, "Button");

//create an accent colored button
Button act = createRaised(ACCENT, NONE, "Button");

//create an accent colored button with a ripple
Button rpl = createRaised(ACCENT, HAS_RIPPLE, "Button"));</pre>

						<h5 class="demo-title">Flat</h5>

						<div align="center">
							<div class="demo-button-container">
								<div id="ctnr_12"></div>
								<div class="demo-button-caption demo-text">Flat button</div>
							</div>
							<div class="demo-button-container">
								<div id="ctnr_13"></div>
								<div class="demo-button-caption demo-text">With ripple</div>
							</div>
							<div class="demo-button-container">
								<div id="ctnr_14"></div>
								<div class="demo-button-caption demo-text">Disabled</div>
							</div>
						</div>

						<pre class="demo-code prettyprint lang-java">
import static org.zerowarning.gwt.mdl.components.buttons.Button.createFlat;
import static org.zerowarning.gwt.mdl.components.buttons.ButtonColor.BTN_NO_COLOR;
import static org.zerowarning.gwt.mdl.components.ripples.Ripple.NONE;
import static org.zerowarning.gwt.mdl.components.ripples.Ripple.HAS_RIPPLE;

import org.zerowarning.gwt.mdl.components.buttons.Button;

//create a flat button
Button flt = createFlat(BTN_NO_COLOR, NONE, "Button");

//create a flat button with a ripple
Button rpl = createFlat(BTN_NO_COLOR, HAS_RIPPLE, "Button");

//create disabled flat button
Button dbl = createFlat(BTN_NO_COLOR, NONE, "Button"));
dbl.setEnabled(false);</pre>

						<h5 class="demo-title">Flat colored</h5>

						<div align="center">
							<div class="demo-button-container">
								<div id="ctnr_15"></div>
								<div class="demo-button-caption demo-text">Primary colored
									flat</div>
							</div>
							<div class="demo-button-container">
								<div id="ctnr_16"></div>
								<div class="demo-button-caption demo-text">Accent colored</div>
							</div>
							<div class="demo-button-container">
								<div id="ctnr_17"></div>
								<div class="demo-button-caption demo-text">With ripple</div>
							</div>
						</div>

						<pre class="demo-code prettyprint lang-java">
import static org.zerowarning.gwt.mdl.components.buttons.Button.createFlat;
import static org.zerowarning.gwt.mdl.components.buttons.ButtonColor.PRIMARY;
import static org.zerowarning.gwt.mdl.components.buttons.ButtonColor.ACCENT;
import static org.zerowarning.gwt.mdl.components.ripples.Ripple.NONE;
import static org.zerowarning.gwt.mdl.components.ripples.Ripple.HAS_RIPPLE;

import org.zerowarning.gwt.mdl.components.buttons.Button;

// create a primary colored flat button
Button prm = createFlat(PRIMARY, NONE, "Button");

//create a flat button with a ripple
Button act = createFlat(ACCENT, NONE, "Button");

//create a flat button
Button rpl = createFlat(ACCENT, HAS_RIPPLE, "Button");</pre>

						<h5 class="demo-title">Icon</h5>

						<div align="center">
							<div class="demo-button-container">
								<div id="ctnr_18"></div>
								<div class="demo-button-caption demo-text">Icon button</div>
							</div>
							<div class="demo-button-container">
								<div id="ctnr_19"></div>
								<div class="demo-button-caption demo-text">Colored</div>
							</div>
							<div class="demo-button-container">
								<div id="ctnr_20"></div>
								<div class="demo-button-caption demo-text">Accent</div>
							</div>
							<div class="demo-button-container">
								<div id="ctnr_21"></div>
								<div class="demo-button-caption demo-text">With ripple</div>
							</div>
						</div>

						<pre class="demo-code prettyprint lang-java">
import static org.zerowarning.gwt.mdl.components.buttons.Button.createIcon;
import static org.zerowarning.gwt.mdl.components.buttons.ButtonColor.BTN_NO_COLOR;
import static org.zerowarning.gwt.mdl.components.buttons.ButtonColor.PRIMARY;
import static org.zerowarning.gwt.mdl.components.buttons.ButtonColor.ACCENT;
import static org.zerowarning.gwt.mdl.components.ripples.Ripple.NONE;
import static org.zerowarning.gwt.mdl.components.ripples.Ripple.HAS_RIPPLE;

import org.zerowarning.gwt.mdl.components.buttons.Button;

// create an icon button
Button ico = createIcon(BTN_NO_COLOR, NONE, "mood");

// create a colored icon button
Button clr = createIcon(PRIMARY, NONE, "mood");

// create an accent colored icon button
Button act = createIcon(ACCENT, NONE, "mood");

// create an accent colored icon button with ripple
Button rpl = createIcon(ACCENT, HAS_RIPPLE, "mood");</pre>

						<h5 class="demo-title">Mini fab</h5>

						<div align="center">
							<div class="demo-button-container">
								<div id="ctnr_22"></div>
								<div class="demo-button-caption demo-text">Mini FAB</div>
							</div>
							<div class="demo-button-container">
								<div id="ctnr_23"></div>
								<div class="demo-button-caption demo-text">Colored</div>
							</div>
						</div>

						<pre class="demo-code prettyprint lang-java">
import static org.zerowarning.gwt.mdl.components.buttons.Button.createIcon;
import static org.zerowarning.gwt.mdl.components.buttons.ButtonFabColor.FAB_NO_COLOR;
import static org.zerowarning.gwt.mdl.components.buttons.ButtonFabColor.COLORED;
import static org.zerowarning.gwt.mdl.components.ripples.Ripple.NONE;

import org.zerowarning.gwt.mdl.components.buttons.Button;

// create a mini fab
Button min = createMiniFab(FAB_NO_COLOR, NONE, "add");

// create a colored mini fab
Button clr = createMiniFab(COLORED, NONE, "add");</pre>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>