<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Components</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet"
	href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.blue_grey-orange.min.css">

<link rel="stylesheet"
	href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
	type="text/css">

<script
	src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

<script
	src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">

<script src="../components/components.nocache.js"></script>

<link rel="stylesheet" type="text/css" href="../styles/main.css">
<link rel="stylesheet" type="text/css" href="styles/components.css">
</head>
<body>
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<header class="mdl-layout__simplified-header">
			<div class="mdl-layout__header-row">
				<!-- Title -->
				<span class="mdl-layout-title">Material Design Lite for GWT</span>
			</div>
			<div class="mdl-layout__header-row">
				<a href="../" class="demo-header-tab-option">about</a> <a
					class="demo-header-tab-option is-active">components</a> <a
					href="../extensions/extensions.html" class="demo-header-tab-option">extensions</a>
			</div>
		</header>
		<div class="mdl-layout__content">
			<div class="demo-main">
				<aside class="nav mdl-shadow--8dp"></aside>
				<div id="buttonsContainer" class="page">
					<h4 class="demo-title">Buttons</h4>

					<span>Variations on Material Design buttons.</span>

					<h5 class="demo-title">Colored Fab</h5>

					<div class="gwt-mdl-button-container" align="center">
						<div id="ctnr_1"></div>
						<div class="gwt-mdl-button-caption demo-text">Colored FAB</div>
					</div>

					<pre class="prettyprint lang-java">
//adding the required import at the class header
import static org.zerowarning.gwt.mdl.components.buttons.Button.createFab;
import static org.zerowarning.gwt.mdl.components.buttons.ButtonFabColor.FAB_NO_COLOR;
import static org.zerowarning.gwt.mdl.components.ripples.Ripple.NONE;

import org.zerowarning.gwt.mdl.components.buttons.Button;

//then at some point, create the button
//colored fab button with an add icon
Button btn = createFab(FAB_NO_COLOR, NONE, "add"));

//then use the created button</pre>

					<div class="gwt-mdl-button-container" align="center">
						<div id="ctnr_2"></div>
						<div class="gwt-mdl-button-caption demo-text">With ripples</div>
					</div>

					<div id="ctnr_3"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>