<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Components</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet"
	href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.blue_grey-orange.min.css">

<link rel="stylesheet"
	href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
	type="text/css">

<script
	src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">

<script src="../components/components.nocache.js"></script>

<link rel="stylesheet" type="text/css" href="../styles/main.css">
<link rel="stylesheet" type="text/css" href="styles/components.css">
</head>
<body>
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<header class="mdl-layout__simplified-header">
			<div class="mdl-layout__header-row">
				<!-- Title -->
				<span class="mdl-layout-title">Material Design Lite for GWT</span>
			</div>
			<div class="mdl-layout__header-row">
				<a href="../" class="layout-tab-option e">about</a> <a
					href="components" class="layout-tab-option is-active">components</a>
				<a href="../extensions/extensions.html" class="layout-tab-option">extensions</a>
			</div>
		</header>
		<div class="mdl-components mdl-layout__content">
			<aside class="mdl-components__nav mdl-shadow--8dp"></aside>
			<div id="buttonsContainer" class="mdl-components__page">
				<h4 class="mdl-gwt-title">Buttons</h4>

				<span>Variations on Material Design buttons.</span>

				<div class="gwt-mdl-buttons-row" align="center">
					<div class="gwt-mdl-button-container">
						<div id="ctnr_1"></div>
						<div class="gwt-mdl-button-caption mdl-gwt-text">Colored FAB</div>
					</div>

					<div class="gwt-mdl-button-container">
						<div id="ctnr_2"></div>
						<div class="gwt-mdl-button-caption mdl-gwt-text">With
							ripples</div>
					</div>
				</div>

				<div id="ctnr_3"></div>
			</div>
		</div>
	</div>
</body>
</html>