@CHARSET "UTF-8";

/*set the active tab marker according to the the current theme color set*/
.demo-is-active {
	border-bottom: 3px solid rgb(255, 171, 64);
}

/*Because of https://github.com/google/material-design-lite/issues/1676
we are dropping the mdl-layout__header for a less fancy implementation but
at least the header renders nicely across browsers*/
.demo-simplified-header {
	background-color: rgb(63, 81, 181);
	color: #FFFFFF;
}

/*The anchoring demo panel*/
.demo-menu-container {
	position: relative;
	width: 200px;
	margin: 15px;
}

/*The content of the anchor panel*/
.demo-menu-container .background {
	background: white;
	height: 100px;
	width: 100%;
}

/*The menu bar of the anchor panel*/
.demo-menu-container .bar {
	box-sizing: border-box;
	background: #3F51B5;
	color: white;
	width: 100%;
	padding: 16px;
}